.experience-box {
  background-color: rgba(var(--bs-primary-rgb), 0.05);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(var(--bs-primary-rgb), 0.3);
  border: 1px solid rgba(var(--bs-primary-rgb), 1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  height: 100%;
}

.experience-box:hover {
  transform: translateY(-5px);

  box-shadow: 0 6px 16px rgba(var(--bs-primary-rgb), 0.5);
}

.modal-content {
  border: 1px solid rgba(var(--bs-primary-rgb), 1) !important;
  box-shadow: 0 4px 20px rgba(var(--bs-primary-rgb), 0.5);
}

.modal-header .btn-close {
    filter: invert(1);
}

.modal-header {
  border-bottom: 1px solid rgba(var(--bs-primary-rgb), 0.3);
}

.modal-footer {
  border-top: 1px solid rgba(var(--bs-primary-rgb), 0.3);
}
